@model Jogo_da_Mosca_ASP.NET_Framework.Models.GerenciamentoJogo

@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>jjjj</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        var dificuldade = "@Model.dificuldade"

    </script>
    <script src="~/Scripts/script.js"></script>

</head>
<body>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="painel">
            <div class="vidas">
                <img id="v1" src="~/Imagens/coracao_cheio.png" />
                <img id="v2" src="~/Imagens/coracao_cheio.png" />
                <img id="v3" src="~/Imagens/coracao_cheio.png" />
            </div>

            <div class="cronometro">
                Tempo restante:
                <span id="cronometro">

                </span>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
