
@{
    Layout = null;
}



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/style.css" />
    <title>Jogo da mosca</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row bo">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <img src="~/Imagens/game.png" />
                </div>
            </div>
        </div>

        @using (Html.BeginForm("app", "Game", FormMethod.Post))
        {
            <form class="row g-3 needs-validation" novalidate>
                <div class="row justify-content-sm-center">
                    <div class="col-auto">
                        <select class="form-select form-control" id="dificuldade" required name="dificult">
                            <option selected disabled value="">-- Selecione o nível --</option>
                            <option value="normal">Normal</option>
                            <option value="dificil">Difícil</option>
                            <option value="boww">Chuck Norris</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <input type="submit" value="Iniciar Jogo" class="btn btn-danger btn-lg" style="margin-top: 10px;" id="iniciar" />
                        </div>
                    </div>
                </div>
            </form>
        };
    </div>
</body>
</html>
